section {
  overflow: hidden;
  height: 91.5vh;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("/banner.png");
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient-text {
  background: linear-gradient(
    280deg,
    #ff6b6b,
    #f7ff00,
    #0cf484,
    #57a6fa,
    #dd44f8,
    #f7ff0c
  );
  background-size: 800% 800%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 5s ease infinite;
}
