.milki {
  margin-top: 20px;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  appearance: none;
  border: 0;
  background: 0;
  position: relative;
  color: white;
  font-weight: 400;
  border-radius: 0.5rem;
  overflow: hidden;
  font-family: inherit;
  font-weight: 500;
}
.milki:after {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 1);
  border-radius: inherit;
  mix-blend-mode: overlay;
}
.milki iframe {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(15deg);
  opacity: 0.5;
  filter: blur(5px);
  transition: all 0.5s ease-in-out;
}
.milki span {
  position: relative;
  font-size: xx-large;
  z-index: 1;
  opacity: 0.75;
  color: white;
  transition: all 0.5s ease-in-out;
}
.milki:hover iframe {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 1;
  filter: blur(0);
}
.milki:hover span {
  opacity: 1;
}
